App
<div>
  PRIMARY OUTLET:
  <router-outlet></router-outlet>
</div>
<div>
  POPUP OUTLET:
  <router-outlet name="popup"></router-outlet>
</div>


<hr>
Links:
<a [routerLink]="['']">Main empty page</a>
<a [routerLink]="[{outlets: { popup: 'alert'}}]">Show alert in popup</a>
<a [routerLink]="[{outlets: { popup: null}}]">Empty popup outlet</a>
<a [routerLink]="['/team', 123]">Team page</a>
<a [routerLink]="['/team', 123, 'user', 'victor']">Team page & User subpage</a>
<a [routerLink]="['/team', 123, { outlets: { primary: ['user', 'victor'], support:'help' } }]">Team page & User subpage & Show Help in support outlet</a>
<a [routerLink]="['/team', 123, { outlets: {support:'help'} }]">Team page & Show Help in support outlet</a>
<a [routerLink]="['/team', 123, { outlets: {support:null} }]">Team page & Empty support outlet</a>
<a [routerLink]="[{ outlets: {unknownOutlet:'someRoute'} }]">Unknown route in unknown outlet</a>

<!-- 
  'MINUS' BEFORE PAGE NAME WILL IGNORE MATCHING PARTIAL PATH FOR THIS PAGE AND MOVE ON TO NEXT PAGE NAME IN ARRAY
  WHAT'S MORE, PARTIAL PATH FOR THIS PAGE WON'T BE CONCATENATED INTO FINAL RESULT
  THEN YOU CANNOT USE MINUS IN PAGE NAMES IN CONFIG!
  <a [routerLink]="[ ...(['team']|getPath:[team]), { outlets: {support: (['-team', 'help']|getPath), primary: (['-team, user']|getPath:[null, user]) }]">Empty support outlet</a> 
-->

<!-- 
  ROUTES CONFIG:
  product: { paths: product/:productCode }
    reviews: { paths: review/:reviewId }
<a [routerLink]="['product', 123, 'reviews', 'abc']></a>
<a [routerLink]="['product', 'review'] | getPath:[product, review]></a>
<a [routerLink]="[ {route:'product', params:product} , {route:'review', params: review}] | getPath></a>
<a [routerLink]="[ {route:'product', params:product} ] | getPath></a>
-->

<!-- <a [routerLink]="[ ...(['team']|getPath:[team]), { outlets: {support: (['-team', 'help']|getPath), primary: (['-team, user']|getPath:[null, user]) }]">Empty support outlet</a> -->
